<br>
<br>
<br>
<br>
<br>
<br>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div *ngIf="verify_flag" class="container" style="margin-left:470px">
    <div class="lc-block col-md-4" id="l-login">
        <h5 align="center" style="margin-bottom: 8px;">Set your new password</h5>
        <div class="lcb-float"><img src="/assets/img/social-media.jpg"></div>
        <div class="form-group">
            <label >Username</label>
            <input type="text" [(ngModel)]="data.username" name="username" class="form-control" #username="ngModel" required>
            <div *ngIf="username.errors?.required && username.touched">
                <small style="color:Tomato;margin-left:10px;" >password is required.</small>
            </div>
        </div>
        <div class="form-group">
            <label >New Password</label>
            <input type="password" [(ngModel)]="data.password" name="password" class="form-control" #password="ngModel" >
            <div *ngIf="password.errors?.required && password.touched">
                <small style="color:Tomato;margin-left:10px;" >password is required.</small>
            </div>
        </div>
        <div class="form-group">
            <label>Confirm New Password
                <span *ngIf="typing_confirm_password">
                    <span *ngIf="confirm_new_password_match; else NotMatch" style="margin-left:5px;font-size: 15px;color:green;font-style: bold;" class="icofont-check-circled">
                    </span>
                    <ng-template #NotMatch>
                        <span style="margin-left:5px;font-size: 15px;color:red;font-style: bold;" class="icofont-close">
                        </span>    
                    </ng-template>
                </span>
            </label>
            <input (keyup)="check_confirm_password()" type="password" [(ngModel)]="data1.confirm_password"  name="confirm_password" class="form-control" #confirm_password="ngModel" required>
            <div *ngIf="confirm_password.errors?.required && confirm_password.touched">
                <small style="color:Tomato;margin-left:10px;" >confirm password is required.</small>
            </div>
            
        </div>
        
        <div class="clearfix"></div>
        <a (click)="setPassword(data.secretkey)" class="btn btn-block btn-primary btn-float m-t-25">Set Password</a>
    </div>
</div>