<br>
<br>
<br><br>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="content-page">
    <div *ngIf="background_image; else ElseBlock">
        <div class="profile-banner" [ngStyle]="{'background-image': 'url('+ background_image +')'}">
            <div class="col-sm-3 avatar-container">
                <img src="{{ LoggedUser.profile.profile_picture }}" class="img-circle profile-avatar" alt="User avatar">
            </div>
            <div class="col-sm-12 profile-actions text-right">
                <a href="/edit-profile" type="button" class="btn btn-primary btn-sm" style="color:white;background-color: rgb(53, 204, 53);border:none"><span class="icofont-edit"></span> Edit Profile</a>
            </div>
        </div>
    </div>
    <ng-template #ElseBlock>
        <div class="profile-banner" [ngStyle]="{'background-image': 'url(assets/img/hero-bg.jpg)'}">
            <div class="col-sm-3 avatar-container">
                <img src="{{ LoggedUser.profile.profile_picture }}" class="img-circle profile-avatar" alt="User avatar">
            </div>
            <div class="col-sm-12 profile-actions text-right">
                <a href="/edit-profile" type="button" class="btn btn-primary btn-sm" style="color:white;background-color: rgb(53, 204, 53);border:none"><span class="icofont-edit"></span> Edit Profile</a>
            </div>
        </div>
    </ng-template>



    <div class="content">

		<div class="row">
			<div class="col-sm-3">
				<!-- Begin user profile -->
				<div class="text-center user-profile-2" style="margin-top:120px">
					<ul class="list-group">
                      <li class="list-group-item">
                            <h4 style="color:darkblue"><b>{{LoggedUser.profile.full_name | uppercase}}</b></h4>
                            <small style="color:black">{{LoggedUser.username}}</small>
					  </li>
                      <li class="list-group-item" style="color:black">
                        <a class="link" href="" data-toggle="modal" data-target="#basicExampleModal">
                            <span class="badge" style="color:darkblue">{{ followers?.length}}</span>
                            Followers
                        </a>
					  </li>
                      <li class="list-group-item" style="color:black">
                        <a class="link" href="" data-toggle="modal" data-target="#basicExampleModal1">
                            <span class="badge" style="color:darkblue">{{ followings?.length}}</span>
                            Following
                        </a>
                      </li>
                      <li class="list-group-item" style="color:midnightblue">
						<span class="badge" style="color:darkblue">{{posts?.length}}</span>
						Posts
					  </li>
					</ul>
                </div><!-- End div .box-info -->
                <br>
				<!-- Begin user profile -->
			</div><!-- End div .col-sm-4 -->
			
			<div class="col-sm-9">
				<div class="widget widget-tabbed">

					<!-- Tab panes -->
					<div class="tab-content">
						
						
						<!-- Tab timeline -->
						<div class="tab-pane animated active fadeInRight" id="my-timeline">
							<div class="user-profile-content">
								<br>
								<!-- Begin timeline -->
								<div class="the-timeline">
									<form role="form" class="post-to-timeline">
                                        <textarea [(ngModel)]="new_post_data.post_info" class="form-control" style="height: 70px;margin-bottom:10px;" name="post_info" placeholder="Whats on your mind..." #post_info="ngModel" required></textarea>
                                        <span style="color: tomato;font-size: 12px;margin-left: 5px;" *ngIf="post_info.errors?.required && post_info.touched">post tag/info is required.</span>
										<div class="row">
                                            <div class="col-xs-2" style="margin-left: 15px;">
                                                <a class="button"
                                                    (click)="toggled = !toggled"
                                                    [(emojiPickerIf)]="toggled"
                                                    [emojiPickerDirection]="'left'"
                                                    (emojiPickerSelect)="handleSelection($event)"
                                                    style="font-size: 22px;margin-top:9px;margin-right:10px;margin-left:5px"
                                                >
                                                    <span class="icofont-simple-smile"></span>
                                                </a>
                                            </div>
										    <div class="col-xs-10">
                                                <div class="myfileupload-buttonbar ">
                                                    <label class="myui-button" style="font-size: 25px;">
                                                        <span style="color: black;" class="icofont-camera"></span>
                                                        <input [(ngModel)]="upload_post_file" (change)="onNewPostFileChange($event)" id="file1" type="file" name="new_post" #new_post="ngModel" required/>
                                                        
                                                    </label>
                                                    
                                                </div>

                                            </div>
                                            <div style="margin-left:340px" class="col-sm-6 text-right"><button (click)="addPost(LoggedUser.id)" class="btn btn-primary">Post</button>
                                            </div>
                                        </div>
                                        <span style="color: tomato;font-size: 12px;margin-left: 5px;" *ngIf="new_post.errors?.required && new_post.touched && !new_post_file">post file is required.</span>
                                        <span *ngIf="new_post_file" class="col-sm-8" style="margin-top: 0! important">
                                            <span align="center" style="color:midnightblue;font-size: 15px;" ><small id="file-upload-filename1">{{new_post_file}}</small></span>
                                        </span>
									</form>
                                    <!-- Post will Go here -->
                                    
                                    <!-- ======= Portfolio Section ======= -->
                                    <section id="portfolio" class="portfolio section-bg" style="margin-top:20px">
                                        <div class="container" id="user_post">

                                            <div class="section-title">
                                            <h2 data-aos="fade-in">Post</h2>
                                            <p data-aos="fade-in"></p>
                                            </div>

                                            <div class="row portfolio-container" data-aos="fade-up">

                                                <div *ngFor="let post of posts" class="col-lg-4 col-md-6 portfolio-item filter-web">
                                                    <div class="portfolio-wrap">
                                                        <img *ngIf="!checkFileisVideo(post.file); else VideoBlock" src="{{ post.file }}" class="img-fluid">
                                                        <ng-template #VideoBlock>
                                                            <video width="720" height="420" style="margin:1px;border:none" class="img-fluid" controls>
                                                               <source src="{{post.file}}" type="video/mp4">
                                                            </video>
                                                         </ng-template>
                                                        <div class="portfolio-links">
                                                            <a href="/post-detail/{{post.id}}"  
                                                                    title="{{post.post_info}}"
                                                                    ><i
                                                                        class="icofont-link"></i></a>
                                                                <a (click)="deletePost(post.id)" title="More Details"><i
                                                                        class="icofont-trash"></i></a>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                        </div>
                                    </section>



								</div><!-- End div .the-timeline -->
								<!-- End timeline -->
							</div><!-- End div .user-profile-content -->
						</div><!-- End div .tab-pane -->
						<!-- End Tab timeline -->
					</div><!-- End div .tab-content -->
                </div><!-- End div .box-info -->
			</div>
		</div>
	</div>	
</div>


<!-- Followers Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p  style="color:black;font-size: 18px;font-weight: bold;margin-left:135px"class="modal-title">Followers</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="like-modal" *ngIf="followers?.length > 0; else Else">
                    <div *ngFor="let follower of followers" class="widget-body1">
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body" style="margin-top:5px">
                                
                                    <div class="profile_pic1"><img src="{{follower.user.profile.profile_picture}}" alt=""><a href="/user/{{follower.user.username}}"><span style="font-size: 12px;font-weight: bold;margin-left:5px;white-space: nowrap;width: 71px;"> {{follower.user.username}}</span></a></div>
                            </div>
                            <div class="lpa-right" style="margin-top:15px;margin-left: 110px;">
                                <a (click)="remove_Follower(LoggedUser.id,follower.user.id)" class="btn btn-primary btn-sm" style="color:white;padding-left: 10px;padding-right: 10px;"><span class="icofont-close-line">Remove</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #Else>
                    <p style="color:black;font-size: 15px;margin-left:110px;margin-top:20px">
                        No followers found
                    </p>
                </ng-template>
            </div>
        </div>
    </div>
</div>



<!-- Following Modal -->
<div class="modal fade" id="basicExampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p  style="color:black;font-size: 18px;font-weight: bold;margin-left:135px"class="modal-title">Followings</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <div class="modal-body">
                <div class="like-modal" *ngIf="followings?.length > 0; else Else">
                    <div *ngFor="let following of followings" class="widget-body1">
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body" style="margin-top:5px">
                                
                                    <div class="profile_pic1"><img src="{{following.followed_user.profile.profile_picture}}" alt=""><a href="/user/{{following.followed_user.username}}"><span style="font-size: 12px;font-weight: bold;margin-left:5px;white-space: nowrap;width: 71px;">{{following.followed_user.username}}</span></a></div>
                            </div>
                            <div class="lpa-right" style="margin-top:15px;margin-left: 130px;">
                                <a (click)="unfollowUser(LoggedUser.id,following.followed_user.id)" class="btn btn-primary btn-sm" style="color:white;padding-left: 10px;padding-right: 10px;"><span class="icofont-reply"> Unfollow</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #Else>
                    <p style="color:black;font-size: 15px;margin-left:110px;margin-top:20px">
                        No followings found
                    </p>
                </ng-template>
            </div>
        </div>
    </div>
</div>
