
<!-- ======= Hero Section ======= -->
<div *ngIf="background_image; else ElseBlock">
    <section  [ngStyle]="{'background-image': 'url('+ background_image +')'}" id="hero" class="d-flex flex-column align-items-center justify-content-center">
        <h1>I am {{LoggedUser.profile.full_name}}!</h1>
    </section><!-- End Hero -->
</div>
<ng-template #ElseBlock>
    <section  [ngStyle]="{'background-image': 'url(assets/img/hero-bg.jpg)'}" id="hero" class="d-flex flex-column align-items-center justify-content-center">
        <h1>I am {{LoggedUser.profile.full_name}}!</h1>
    </section>
</ng-template>


<!-- ======= About Section ======= -->
<section id="about" class="about" style="margin-top:50px">
    <div class="container">

        <div class="row no-gutters">
            <div class="col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"><img id ="profile_pic" src="{{ LoggedUser.profile.profile_picture | TransalateImageUrl }}" class="img-fluid"></div>
            <div class="col-xl-5 pl-1 pl-lg-2 pr-lg-1 d-flex align-items-stretch">
            <div class="content d-flex flex-column justify-content-center">
                <h2>{{LoggedUser.profile.full_name}}</h2>
                <br><br>
                <div class="row">
                    <div class="col-sm-2.8" style="margin-left:14px">
                        <p style="color:#5289ba">{{LoggedUser.username}}</p>
                    </div>
                    <div class="col-sm-4">
                        <a class="btn-get-started scrollto" style="margin-top:10px">Edit Profile</a>
                    </div>
                </div>
                <br>
                <p>
                    {{LoggedUser.profile.BioDescription}}
                </p>
                <div class="row">
                    <div class="col-md-6 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                        <i class="icofont-square"></i>
                        <span data-toggle="counter-up">{{posts?.length}}</span>
                        <p><strong>Total Post</strong></p>
                        </div>
                    </div>

                    <div class="col-md-6 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                        <i class="icofont-users-social"></i>
                        <span data-toggle="counter-up">{{ followers?.length}}</span>
                        <p><strong>Followers</strong></p>
                        </div>
                    </div>

                    <div class="col-md-6 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                        <i class="icofont-users-social"></i>
                        <span data-toggle="counter-up">{{ followings?.length}}</span>
                        <p><strong>Followings</strong></p>
                        </div>
                    </div>

                </div>
            </div><!-- End .content-->
            </div>
        </div>

    </div>
</section><!-- End About Section -->

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg" style="margin-top:50px">
    <div class="container">

        <div class="section-title">
        <h2 data-aos="fade-in">Post</h2>
        <p data-aos="fade-in"></p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

            <div *ngFor="let post of posts" class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="{{ post.file | TransalateImageUrl }}" class="img-fluid">
                    <div class="portfolio-links">
                        <a data-gall="portfolioGallery" class="venobox" title="{{post.post_info}}" href="{{ post.file | TransalateImageUrl }}" ><i class="icofont-link"></i></a>
                        <a href="" title="More Details"><i class="icofont-trash"></i></a>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section><!-- End Portfolio Section -->
  
  