<br>
<br>
<div class="container">
    <div class="row" style="margin-top:20px">
        <!-- <div class="col-sm-3">
            <a href="/profile"><i style="font-size:24px;" class="icofont-circled-left"></i> Profile</a>
        </div> -->
        <div class="col-sm-4" style="margin-left:150px;margin-top:30px">
            <h2>Followers</h2>
        </div>
    </div>

    <div class="row" style="margin-left:150px">
        <div class="col-lg-9">
            <div class="candidates-listing-item">
                <div *ngFor="let follower of follower_list" class="list-grid-item mt-4 p-2">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="candidates-img float-left mr-4">
                                <img src="{{ follower.user.profile.profile_picture | TransalateImageUrl }}" alt="">
                            </div>
                            <div class="candidates-list-desc job-single-meta  pt-2">
                                <h5 class="mb-2 f-19"><a href="/user/{{ follower.user.username }}" class="text-dark">{{ follower.user.profile.full_name | titlecase  }}</a></h5>
                                <a href="/user/{{ follower.user.username }}"><p class="text-muted f-15 mb-0" style="color:blue;font-weight: bold;"><i class="mdi mdi-account mr-1"></i>{{ follower.user.username }}</p></a>
                                <div class="candidates-item-desc">
                                    <hr>
                                    <p class="text-muted mb-2 f-14">{{follower.user.profile.BioDescription}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="candidates-list-fav-btn text-right">
                                <div class="fav-icon">
                                    <i class="mdi mdi-heart f-20"></i>
                                </div>
                                <div class="candidates-listing-btn mt-4">
                                    <a (click)="remove_Follower(userid,follower.user.id)" class="btn-get-started scrollto" style="margin-top:2px">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination job-pagination justify-content-center mt-5 mb-5">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                            <i class="mdi mdi-chevron-double-left f-15"></i>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <i class="mdi mdi-chevron-double-right f-15"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>