<br>
<br>
<!-- Page Content -->
<div id = "post_detail" class="container">
    <div class="row">
      <!-- Post Image -->
        <div class="col-md-8" style="margin-top:45px">
            <div>
                <div> 
                    <!-- Blog Post -->
                    <div class="card mb-4" id="post">
                    <img class="card-img-top" src="{{post.file}}" alt="Card image cap">
                    </div>
                </div>
            </div>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4" style="margin-top:22px">

            <!-- User Who Uploaded the Image -->
            <div class="card my-4" id="user_profile">
                <div class="card-body">
                    <div class="row">
                        <div class="profile_pic col-xs-2"><img src="{{ post.user.profile.profile_picture }}" alt=""></div>
                        <div class="col-xs-2" style="margin-top:9px;margin-left:10px"><a href="/user/{{post.user.username}}"><span style="font-size: 15px;font-weight: bold;">{{post.user.username}}</span></a></div>
                        <div *ngIf="post.followed_status; else ElseBlock" class="col-xs-2" style="margin-top:8px;margin-left:10px"><span class="icofont-check-alt" style="margin-left:40px;font-size: 15px;font-weight: bolder;color:rgb(7, 112, 7)">Following</span></div>
                        <ng-template #ElseBlock>
                            <div *ngIf="post.user.id==LoggedUser.id; else ElseBlock1" class="col-xs-2" style="margin-left:100px"></div>
                            <ng-template #ElseBlock1>
                                <div *ngIf="post.follow_request_sent; else ElseBlock2" class="col-xs-3" style="margin-left:60px"><a class="btn-get-started2">Requested<span class="icofont-check"></span></a></div>
                                <ng-template #ElseBlock2>
                                    <div class="col-xs-2" style="margin-left:100px"><a (click)="followUser(post.user.id,LoggedUser.id,LoggedUser.username)" class="btn-get-started">Follow</a></div>
                                </ng-template>
                            </ng-template>
                        </ng-template>
                    </div>
                </div>
            </div>

            <!-- Profile Widget -->
            <div *ngIf="checkCommentPresent(post.post_detail)">
                <div class="widget widget-latest-post">
                    <div class="widget-body">
                        <div *ngFor="let comment of post.post_detail">
                            <div *ngIf="comment.comment" class="latest-post-aside media">
                                <div class="lpa-left media-body">
                                    <a href="/user/{{comment.user.username}}"> 
                                        <div class="profile_pic1"><img src="{{comment.user.profile.profile_picture}}" alt=""></div>
                                    </a>
                                </div>
                                <div class="lpa-right">
                                    <a href="/user/{{comment.user.username}}"><span style="font-size: 12px;font-weight: bold;">{{comment.user.username}}</span></a><small style="margin-left:5px;font-size: 11px;color:black"> {{comment.comment}}</small>
                                    <br>
                                    <span style="font-weight:bold;font-size: 10px;color: slategrey;">{{comment.post_action_timestamp | dateAgo}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card my-4 reply">
                <div class="row">
                    <div class="col-sm-9 col-xs-9 reply-main">
                        <textarea [(ngModel)]="postData.comment" name="comment" class="form-control" rows="1" id="comment" #comment="ngModel"></textarea>
                    </div>
                    <div class="col-sm-1 col-xs-1 reply-send">
                        <i (click)="postComment(LoggedUser.id,post.id)" class="icofont-paper-plane" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
    
            <div class="like widget-latest-post">
                <div class="like-body">
                    <div class="row">
                        <a *ngIf="post.like_by_you; else ElseLikeBlock"><i style="font-size: 23px;margin-right: 10px;color:tomato;" class="icofont-heart"></i></a>
                        <ng-template #ElseLikeBlock>
                            <i (click)="likePost(LoggedUser.id,post.id)" style="font-size: 23px;margin-right: 10px;color:thistle;" class="icofont-heart"></i>
                        </ng-template>
                        <div >
                            <small style="color:black;font-weight: bold;margin-left:225px;margin-top:10px">{{post.post_time_stamp | dateAgo}}</small>
                        </div>
                    </div>
                    <div *ngIf="post.liked_by" class="row latest-post-aside media">
                        <p style="color:grey;font-weight: bold;margin-top:5px" class="liked">Liked by <small style="color: midnightblue;">{{post.liked_by}} .. <a href="" style="color:blue;font-weight: bold;" data-toggle="modal" data-target="#basicExampleModal">others</a> </small></p>
                    </div>
                   
                </div>
            </div>
            
        </div>
        

    </div>
    <!-- /.row -->
</div>
  <!-- /.container -->
<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <div class="modal-body">
                <div class="like-modal">
                    <div *ngFor="let like of post.post_detail" class="widget-body1">
                        <div *ngIf="like.like" class="latest-post-aside media">
                            <div class="lpa-left media-body" style="margin-top:5px">
                                
                                    <div class="profile_pic1"><img src="{{like.user.profile.profile_picture}}" alt=""><a href="/user/{{like.user.username}}"><span style="font-size: 12px;font-weight: bold;margin-left:5px"> {{like.user.username}}</span></a></div>
                            </div>
                            <div class="lpa-right" style="margin-top:15px;margin-left:50px">
                                <span *ngIf="like.user.id==LoggedUser.id; else ElseBlock2"></span>
                                <ng-template #ElseBlock2>
                                    <span *ngIf="like.followed_status; else ElseBlock" class="icofont-check-alt" style="font-size: 15px;font-weight: bolder;color:rgb(7, 112, 7)">Following</span>
                                    <ng-template #ElseBlock>
                                        <span *ngIf="like.follow_request_sent; else ElseBlock1" class="icofont-check-alt" style="font-size: 14px;font-weight: bolder;color:rgb(7, 112, 7)"><a >Requested</a></span>
                                        <ng-template #ElseBlock1>
                                            <span><a (click)="followUser(like.user.id,LoggedUser.id,LoggedUser.username)" class="btn-get-started" style="margin-left:100px">Follow</a></span>
                                        </ng-template>
                                    </ng-template>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>