a:hover{
  color:midnightblue;
}
a {
  text-decoration: none;
}


.profile_pic{
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  
}
.profile_pic img{
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.profile_pic1 img{
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
/* Blog Sidebar
-------------------*/

.widget {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  max-height: 280px;
  overflow: auto;
}

.widget::-webkit-scrollbar
{
	width: 1px;
  background-color: #F5F5F5;
  
}


.widget-body {
  padding: 8px;
}



.reply {
    height: 45px;
    width: 100%;
    margin-top: 0 !important;
    z-index: 1000;
    border: none;
    background-color: whitesmoke;
  }

  .reply-send {
    padding: 5px !important;
  }
  
  .reply-send i {
    text-align: center;
    font-size:30px;
    color: black;
    cursor: pointer;
    margin-left:18px;
  }
  
  .reply-main {
    padding: 2px 5px !important;
  }
  
  .reply-main textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    text-indent: 5px;
    height: 100%;
    font-size: 12px;
    margin-left:12px;
    margin-top:1px;
  }
  
  .reply-main textarea:focus {
    outline: none;
    border: none;
    text-indent: 5px;
    box-shadow: none;
  }
  



.like{
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    height: 65px;
    width: 100%;
    margin-top: 0 !important;
    z-index: 1000;
    border: none;
    background-color: white;
}


.like-body {
    padding-left: 22px;
    padding-top: 5px;
    font-size: 14px;
}


.modal-header{
    height: 10px;
    border: none;
}

.btn-get-started2 {
  color:white;
  border-radius: 50px;
  padding: 5px 10px 5px 10px;
  border: 2px solid white;
  transition: all ease-in-out 0.3s;
  display: inline-block;
  background: rgb(46, 236, 39);
  outline-width: 0;
}

.btn-get-started2:hover {
  background: rgb(46, 236, 39);
  color:white;
}


.btn-get-started {
    color:white;
    border-radius: 50px;
    padding: 5px 10px 5px 10px;
    border: 2px solid white;
    transition: all ease-in-out 0.3s;
    display: inline-block;
    background: blue;
    outline-width: 0;
  }
  
.btn-get-started:hover {
    background: blue;
    color:white;
    border-color: blue;
  }


  .modal-dialog{
    width: 400px;
  }


  .like-modal{
    border-radius: 5px;
    /* width: 100%; */
    display: inline-block;
    vertical-align: top;
    max-height: 300px;
    overflow: auto;
  }

  .media-body a:hover{
      color:midnightblue;
      font-size: 16px;
  }

  .like-modal::-webkit-scrollbar
{
	width: 0px;
	background-color: #F5F5F5;
}

/*Comment Section*/

.be-comment-block {
  margin-bottom: 50px !important;
  border: 1px solid #edeff2;
  border-radius: 2px;
  border:1px solid #ffffff;
  
}

.comments-title {
  font-size: 16px;
  color: #262626;
  margin-bottom: 15px;
  font-family: 'Conv_helveticaneuecyr-bold';
}

.be-img-comment a img {
  width: 45px;
  height: 45px;
  float: left;
  border-radius: 50%;
}

/* .be-ava-comment {
  width: 60px;
  height: 60px;
  border-radius: 50%;
} */

.be-comment-content {
  margin-left: 50px;
}

.be-comment-content span {
  display: inline-block;
}

.be-comment-name {
  font-size: 13px;
}

.be-comment-content a {
  color: #383b43;
}


.be-comment-time {
  float: right;
}

.be-comment-time {
  font-size: 10px;
  color: #b4b7c1;
}

.be-comment-text {
  font-size: 13px;
  line-height: 18px;
  word-break: break-all;
  color: #7a8192;
  display: block;
  background: #f6f6f7;
  border: 1px solid #edeff2;
  border-radius: 10px;
  padding: 10px;
}