<br>
<br>
<!-- Page Content -->
<div id = "post_detail" class="container">
    <div class="row">
      <!-- Post Image -->
        <div class="col-md-8" style="margin-top:45px">
            <div>
                <div> 
                    <!-- Blog Post -->
                    <div class="card mb-4" id="post">
                    <img class="card-img-top" src="http://127.0.0.1:8000/media/user_29/post/IMG_20190402_102248.jpg"alt="Card image cap">
                    </div>
                </div>
            </div>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4" style="margin-top:22px">

            <!-- User Who Uploaded the Image -->
            <div class="card my-4" id="user_profile">
                <div class="card-body">
                    <div class="row">
                        <div class="profile_pic col-xs-2"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" height="45px" weight="45px" alt=""></div>
                        <div class="col-xs-2" style="margin-top:9px;margin-left:10px"><span style="font-size: 15px;font-weight: bold;">vipin_s0106</span></div>
                        <div class="col-xs-2" style="margin-top:8px;margin-left:10px"><span class="icofont-check-alt" style="margin-left:40px;font-size: 15px;font-weight: bolder;color:rgb(7, 112, 7)">Following</span></div>
                    </div>
                </div>
            </div>

            <!-- Profile Widget -->
            <div class="widget widget-latest-post">
                <div class="widget-body">
                    <div class="latest-post-aside media">
                        <div class="lpa-left media-body">
                            <a href="#">
                                <div class="profile_pic"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" height="45px" weight="45px" alt=""></div>
                            </a>
                        </div>
                        <div class="lpa-right" style="margin-left:10px">
                            <span style="font-size: 12px;font-weight: bold;">vipin_s0106</span><small style="margin-left:5px;font-size: 11px;color:black"> Jjbajfehafjafa fnakfnaf bafakfnalknf ihafknafkln bashfahf</small>
                            <br>
                            <span style="font-weight:bold;font-size: 10px;color: slategrey;">2 days ago</span>
                        </div>
                    </div>
                    <div class="latest-post-aside media">
                        <div class="lpa-left media-body">
                            <a href="#">
                                <div class="profile_pic"><img src="https://bootdey.com/img/Content/avatar/avatar3.png" height="45px" weight="45px" alt=""></div>
                            </a>
                    </div>
                    <div class="lpa-right" style="margin-left:10px">
                        <span style="font-size: 12px;font-weight: bold;">vipin_s0106</span><small style="margin-left:5px;font-size: 11px;color:black"> Jjbajfehafjafa fnakfnaf bafakfnalknf ihafknafkln bashfahf</small>
                        <br>
                        <span style="font-weight:bold;font-size: 10px;color: slategrey;">2 days ago</span>
                    </div>
                </div>
                <div class="latest-post-aside media">
                    <div class="lpa-left media-body">
                        <a href="#">
                            <div class="profile_pic"><img src="https://bootdey.com/img/Content/avatar/avatar4.png" height="45px" weight="45px" alt=""></div>
                        </a>
                    </div>
                    <div class="lpa-right" style="margin-left:10px">
                        <span style="font-size: 12px;font-weight: bold;">vipin_s0106</span><small style="margin-left:5px;font-size: 11px;color:black"> Jjbajfehafjafa fnakfnaf bafakfnalknf ihafknafkln bashfahf</small>
                        <br>
                        <span style="font-weight:bold;font-size: 10px;color: slategrey;">2 days ago</span>
                    </div>
                </div>
                <div class="latest-post-aside media">
                    <div class="lpa-left media-body">
                        <a href="#">
                            <div class="profile_pic"><img src="https://bootdey.com/img/Content/avatar/avatar5.png" height="45px" weight="45px" alt=""></div>
                        </a>
                    </div>
                    <div class="lpa-right" style="margin-left:10px">
                        <span style="font-size: 12px;font-weight: bold;">vipin_s0106</span><small style="margin-left:5px;font-size: 11px;color:black"> Jjbajfehafjafa fnakfnaf bafakfnalknf ihafknafkln bashfahf</small>
                        <br>
                        <span style="font-weight:bold;font-size: 10px;color: slategrey;">2 days ago</span>
                    </div>
                </div>
                <div class="latest-post-aside media">
                    <div class="lpa-left media-body">
                        <a href="#">
                            <div class="profile_pic"><img src="https://bootdey.com/img/Content/avatar/avatar5.png" height="45px" weight="45px" alt=""></div>
                        </a>
                    </div>
                    <div class="lpa-right" style="margin-left:10px">
                        <span style="font-size: 12px;font-weight: bold;">vipin_s0106</span><small style="margin-left:5px;font-size: 11px;color:black"> Jjbajfehafjafa fnakfnaf bafakfnalknf ihafknafkln bashfahf</small>
                        <br>
                        <span style="font-weight:bold;font-size: 10px;color: slategrey;">2 days ago</span>
                    </div>
                </div>
                <div class="latest-post-aside media">
                    <div class="lpa-left media-body">
                        <a href="#">
                            <div class="profile_pic"><img src="https://bootdey.com/img/Content/avatar/avatar5.png" height="45px" weight="45px" alt=""></div>
                        </a>
                    </div>
                    <div class="lpa-right" style="margin-left:10px">
                        <span style="font-size: 12px;font-weight: bold;">vipin_s0106</span><small style="margin-left:5px;font-size: 11px;color:black"> Jjbajfehafjafa fnakfnaf bafakfnalknf ihafknafkln bashfahf</small>
                        <br>
                        <span style="font-weight:bold;font-size: 10px;color: slategrey;">2 days ago</span>
                    </div>
                </div>
                <div class="latest-post-aside media">
                    <div class="lpa-left media-body">
                        <a href="#">
                            <div class="profile_pic"><img src="https://bootdey.com/img/Content/avatar/avatar5.png" height="45px" weight="45px" alt=""></div>
                        </a>
                    </div>
                    <div class="lpa-right" style="margin-left:10px">
                        <span style="font-size: 12px;font-weight: bold;">vipin_s0106</span><small style="margin-left:5px;font-size: 11px;color:black"> Jjbajfehafjafa fnakfnaf bafakfnalknf ihafknafkln bashfahf</small>
                        <br>
                        <span style="font-weight:bold;font-size: 10px;color: slategrey;">2 days ago</span>
                    </div>
                </div>
                
            </div>
            
        </div>
        <div class="card my-4 reply">
            <div class="row">
                <div class="col-sm-9 col-xs-9 reply-main">
                    <textarea class="form-control" rows="1" id="comment"></textarea>
                </div>
                <div class="col-sm-1 col-xs-1 reply-send">
                    <i class="icofont-paper-plane" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <div class="like widget-latest-post">
            <div class="like-body">
                <div class="row">
                    <a href=""><i style="font-size: 23px;margin-right: 10px;color:thistle;" class="icofont-heart"></i></a>
                    <div >
                        <small style="color:black;font-weight: bold;margin-left:225px;margin-top:10px">2 days ago</small>
                    </div>
                </div>
                <div class="row latest-post-aside media">
                    <p style="color:grey;font-weight: bold;margin-top:5px" class="liked">Liked by <small style="color: midnightblue;">vipin_s0106,beauty.s0106 .. <a style="color:blue;font-weight: bold;" data-toggle="modal" data-target="#basicExampleModal">others</a> </small></p>
                </div>
               
            </div>
        </div>

    </div>
    <!-- /.row -->
</div>
  <!-- /.container -->
<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <div class="modal-body">
                <div class="like-modal">
                    <div class="widget-body1">
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <a href="#">
                                    <div class="profile_pic1"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" height="45px" weight="45px" alt=""><span style="font-size: 12px;font-weight: bold;margin-left:5px"> vipin_s0106</span></div>
                                </a>
                            </div>
                            <div class="lpa-right" style="margin-top:8px">
                                <span class="icofont-check-alt" style="margin-top:30px;font-size: 15px;font-weight: bolder;color:rgb(7, 112, 7)">Following</span>
                            </div>
                        </div>
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <a href="#">
                                    <div class="profile_pic1"><img src="https://bootdey.com/img/Content/avatar/avatar3.png" height="45px" weight="45px" alt=""><span style="font-size: 12px;font-weight: bold;margin-left:5px"> vipin_s0106</span></div>
                                </a>
                            </div>
                            <div class="lpa-right" style="margin-top:8px">
                                <span class="icofont-check-alt" style="margin-top:30px;font-size: 15px;font-weight: bolder;color:rgb(7, 112, 7)">Following</span>
                            </div>
                        </div>
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <a href="#">
                                    <div class="profile_pic1"><img src="https://bootdey.com/img/Content/avatar/avatar4.png" height="45px" weight="45px" alt=""><span style="font-size: 12px;font-weight: bold;margin-left:5px"> vipin_s0106</span></div>
                                </a>
                            </div>
                            <div class="lpa-right" style="margin-top:8px">
                                <span class="icofont-check-alt" style="margin-top:30px;font-size: 15px;font-weight: bolder;color:rgb(7, 112, 7)">Following</span>
                            </div>
                        </div>
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <a href="#">
                                    <div class="profile_pic1"><img src="https://bootdey.com/img/Content/avatar/avatar5.png" height="45px" weight="45px" alt=""><span style="font-size: 12px;font-weight: bold;margin-left:5px"> vipin_s0106</span></div>
                                </a>
                            </div>
                            <div class="lpa-right" style="margin-top:8px">
                                <span class="icofont-check-alt" style="margin-top:30px;font-size: 15px;font-weight: bolder;color:rgb(7, 112, 7)">Following</span>
                            </div>
                        </div>
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <a href="#">
                                    <div class="profile_pic1"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" height="45px" weight="45px" alt=""><span style="font-size: 12px;font-weight: bold;margin-left:5px"> vipin_s0106</span></div>
                                </a>
                            </div>
                            <div class="lpa-right" style="margin-top:8px">
                                <span class="icofont-check-alt" style="margin-top:30px;font-size: 15px;font-weight: bolder;color:rgb(7, 112, 7)">Following</span>
                            </div>
                        </div>
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <a href="#">
                                    <div class="profile_pic1"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" height="45px" weight="45px" alt=""><span style="font-size: 12px;font-weight: bold;margin-left:5px"> vipin_s0106</span></div>
                                </a>
                            </div>
                            <div class="lpa-right" style="margin-top:8px">
                                <span class="icofont-check-alt" style="margin-top:30px;font-size: 15px;font-weight: bolder;color:rgb(7, 112, 7)">Following</span>
                            </div>
                        </div>
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <a href="#">
                                    <div class="profile_pic1"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" height="45px" weight="45px" alt=""><span style="font-size: 12px;font-weight: bold;margin-left:5px"> vipin_s0106</span></div>
                                </a>
                            </div>
                            <div class="lpa-right" style="margin-top:8px">
                                <span class="icofont-check-alt" style="margin-top:30px;font-size: 15px;font-weight: bolder;color:rgb(7, 112, 7)">Following</span>
                            </div>
                        </div>
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <a href="#">
                                    <div class="profile_pic1"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" height="45px" weight="45px" alt=""><span style="font-size: 12px;font-weight: bold;margin-left:5px"> vipin_s0106</span></div>
                                </a>
                            </div>
                            <div class="lpa-right" style="margin-top:8px">
                                <span class="icofont-check-alt" style="margin-top:30px;font-size: 15px;font-weight: bolder;color:rgb(7, 112, 7)">Following</span>
                            </div>
                        </div>
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <a href="#">
                                    <div class="profile_pic1"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" height="45px" weight="45px" alt=""><span style="font-size: 12px;font-weight: bold;margin-left:5px"> vipin_s0106</span></div>
                                </a>
                            </div>
                            <div class="lpa-right" style="margin-top:8px">
                                <span class="icofont-check-alt" style="margin-top:30px;font-size: 15px;font-weight: bolder;color:rgb(7, 112, 7)">Following</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>