/*--------------------------------------------------------------
# Post
--------------------------------------------------------------*/
a {
  text-decoration: none;
}
#dashboard {
    margin-top:50px;
    background-color: white;
}

#post{
    background-color: white;
}

#post .profile_pic{
  position: relative;
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
}
#post .profile_pic img{
  width: 100%;
  height: auto;
}

#post .card-text{
    white-space: nowrap; 
    width: 1000px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

#post .card-body p{
    font-size: 14px;
    margin-top:0px;
}
#post .card-body {
    font-size: 14px;
    margin-top:0px;
    font-weight: bold;
}


#post .card-body p small{
    font-size: 14px;
    margin-top:0px;
}
#post .card-body small{
    color:#5289ba;
    margin-bottom: 0px;
    margin-top:0px;
}

/*--------------------------------------------------------------
# Search
--------------------------------------------------------------*/

#nav_notification {
    margin-bottom:10px;
}

#nav_notification i {
    font-size: 25px;
  }

/* 
#search input{
    border: 0;
    padding: 4px 12px 4px 12px;
    border-radius: 25px;
    background: #d2e0ed;
    margin:5px;
    width: calc(90% - 100px);
    outline-width: 0;
} */


#search {
    background-color: white;
    border:none;
    margin-top:0px;
  }

#search .btn-get-started {
    background: transparent;
    color: #5289ba;
    border-radius: 50px;
    padding: 5px 18px 5px 18px;
    border: 1px solid #5289ba;
    transition: all ease-in-out 0.3s;
    display: inline-block;
    margin:5px;
    outline-width: 0;
  }

  #search .btn-get-started:hover {
    background: #5289ba;
    color: #fff;
  }

  
/*--------------------------------------------------------------
# Profile
--------------------------------------------------------------*/

#profile {
    background: white;
    border: none;
}
#profile #userinfo{
    margin-top:17px;
}
#profile #userinfo a{
    color: #5289ba;
    transition: 0.3s;
}
/*--------------------------------------------------------------
# Sugeestions
--------------------------------------------------------------*/
.member {
    text-align: center;
    margin-bottom: 10px;
  }
  
.member .pic {
  position: relative;
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50%;
  }

  .member .pic img{
    width: 100%;
    height: auto;
  }
  
  
  
.member span {
    font-style: italic;
    display: block;
    font-size: 11px;
    white-space: nowrap; 
    width: 71px; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  
.member .social {
    margin-top: 8px;
  }
  
.member .social a {
    color: #5289ba;
    transition: 0.3s;
  }
  
.member .social a:hover {
    color: midnightblue;
    font-style: bold;
  }
  
.member .social i {
    font-size: 18px;
    margin: 0 2px;
  }
  

.card-img-top{
  max-height: 620px;
}

/* Suggestions*/
.profile_pic1 img{
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

/* Search User */
.profile_pic2 img{
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/* Blog Sidebar
-------------------*/

.widget {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  max-height: 300px;
  overflow: auto;
}

.widget::-webkit-scrollbar
{
	width: 1px;
	background-color: #F5F5F5;
}


.widget-body {
  padding: 8px;
  margin-top:8px;
}




/* Suggestions Modal  */

.profile_pic1 img{
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
  
.modal-header{
  height: 10px;
  border: none;
}

.modal-dialog{
  width: 400px;
  margin-top:100px;
}

.like-modal{
  border-radius: 5px;
  /* width: 100%; */
  display: inline-block;
  vertical-align: top;
  max-height: 300px;
  overflow: auto;
}

.media-body a:hover{
    color:midnightblue;
    font-size: 16px;
}

.like-modal::-webkit-scrollbar
{
width: 0px;
background-color: #F5F5F5;
}


.search-modal{
  border-radius: 5px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  max-height: 300px;
  overflow: auto;
}

.search-modal::-webkit-scrollbar
{
width: 0px;
}
