      
  <!-- Page Content -->
  <div id = "dashboard" class="container">
    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8" style="margin-top:45px">

        <!-- Blog Post -->
        <div class="card mb-4" id="post">
          <div class="card-header">
              <div>
                <div class="profile_pic"><img src="assets/img/team/team-1.jpg" height="45px" weight="45px" alt=""><span>aman_s212001</span></div>
              </div>
          </div>
          <img class="card-img-top" src="/assets/img/services-2.jpg" height="350" weight="750" alt="Card image cap">
          <div class="card-body">
            <p class="liked">Liked by <small>beauty_S2507,vipin_s0106 and others</small></p>
            <p class="card-text">#instagram #Cool #Bro</p>
            
            <a>View all 170 comments<br><small>aman_s212001 nice pic!</small> ... <a>more</a> 
            </a>
            <br>
            <small style="color:#8C8D89">Posted on January 1, 2017</small>
          </div>
        </div>

        <div class="card mb-4" id="post">
          <div class="card-header">
              <div>
                <div class="profile_pic"><img src="assets/img/team/team-2.jpg" height="45px" weight="45px" alt=""><span>aman_s212001</span></div>
              </div>
          </div>
          <img class="card-img-top" src="/assets/img/services-3.jpg" height="350" weight="750" alt="Card image cap">
          <div class="card-body">
            <p class="liked">Liked by <small>beauty_S2507,vipin_s0106 and others</small></p>
            <p class="card-text">#instagram #Cool #Bro</p>
            
            <a>View all 170 comments<br><small>aman_s212001 nice pic!</small> ... <a>more</a> 
            </a>
            <br>
            <small style="color:#8C8D89">Posted on January 1, 2017</small>
          </div>
        </div>

        <div class="card mb-4" id="post">
          <div class="card-header">
              <div>
                <div class="profile_pic"><img src="assets/img/team/team-3.jpg" height="45px" weight="45px" alt=""><span>aman_s212001</span></div>
              </div>
          </div>
          <img class="card-img-top" src="/assets/img/services-1.jpg" height="350" weight="750" alt="Card image cap">
          <div class="card-body">
            <p class="liked">Liked by <small>beauty_S2507,vipin_s0106 and others</small></p>
            <p class="card-text">#instagram #Cool #Bro</p>
            
            <a>View all 170 comments<br><small>aman_s212001 nice pic!</small> ... <a>more</a> 
            </a>
            <br>
            <small style="color:#8C8D89">Posted on January 1, 2017</small>
          </div>
        </div>

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4" id="search">
          <div class="card-body">
            <div class="input-group">
              <div class="row" id="nav_notification">
                <div class="col-sm-2">
                  <a href=""><i class="icofont-home"></i></a>
                </div>
                <div class="col-sm-2">
                  <a href=""><i class="icofont-chat" style="margin-right:200px"><span class="badge badge-light" style="font-size:10px;">5</span></i></a>
                  
                </div>
                <div class="col-sm-2">
                  <a href=""><i class="icofont-notification"><span class="badge badge-light" style="font-size:10px;">5</span></i></a>
                </div>
              </div>
              <div class="row">
              <input type="text" name="search" placeholder="Search for...">
              <span class="input-group-btn">
                <a class="btn-get-started scrollto">Search</a>
              </span>
            </div>
            </div>
          </div>
        </div>

        <!-- Profile Widget -->
        <div class="card my-4" id="profile">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="member" data-aos="fade-up">
                  <div class="pic"><img src="assets/img/team/team-1.jpg" height="85px" weight="50px" alt=""></div>
                </div>
              </div>
              <div class="col-md-6" id="userinfo">
                <span>AMAN SHARMA</span>
                <div class="social">
                  <a href="">aman_s212001</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4" style="background: #213b52;border: none;">
          <h5 class="card-header">Suggestions</h5>
          <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="member" data-aos="fade-up">
                      <div class="pic"><img src="assets/img/team/team-1.jpg" height="85px" weight="50px" alt=""></div>
                      <span>aman_s212001</span>
                      <div class="social">
                        <a href=""><i class="icofont-instagram"></i>follow</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="member" data-aos="fade-up">
                      <div class="pic"><img src="assets/img/team/team-2.jpg" height="85px" weight="50px"  alt=""></div>
                      <span>aman_s212001</span>
                      <div class="social">
                        <a href=""><i class="icofont-instagram"></i>follow</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="member" data-aos="fade-up">
                      <div class="pic"><img src="assets/img/team/team-3.jpg" height="85px" weight="50px" alt=""></div>
                      <span>aman_s212001</span>
                      <div class="social">
                        <a href=""><i class="icofont-instagram"></i>follow</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="member" data-aos="fade-up">
                      <div class="pic"><img src="assets/img/team/team-4.jpg" height="85px" weight="50px" alt=""></div>
                      <span>aman_s212001</span>
                      <div class="social">
                        <a href=""><i class="icofont-instagram"></i>follow</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="member" data-aos="fade-up">
                      <div class="pic"><img src="assets/img/team/team-2.jpg" height="85px" weight="50px" alt=""></div>
                      <span>aman_s212001</span>
                      <div class="social">
                        <a href=""><i class="icofont-instagram"></i>follow</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="member" data-aos="fade-up">
                      <div class="pic"><img src="assets/img/team/team-3.jpg" height="85px" weight="50px" alt=""></div>
                      <span>aman_s212001</span>
                      <div class="social">
                        <a href=""><i class="icofont-instagram"></i>follow</a>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

