<!-- ======= Schedule Section ======= -->
<br>
<section id="schedule" class="section-with-bg">
    <div class="container wow fadeInUp">
      <div class="section-header">
        <h3 style="font-size:18px;font-weight:bold;margin-top:10px;margin-bottom:0px;margin-left:500px">Notification <span><a (click)="deleteAllUserNotification(user_id)"  class="btn-get-started scrollto" style="margin-left:500px"><span  class="icofont-ui-delete"></span> Clear All</a></span></h3>
      </div>

      <hr>

      <div class="tab-content row justify-content-center">

        <!-- Schdule Day 1 -->
        <div *ngFor="let not of notifications" role="tabpanel" class="col-lg-9 tab-pane fade show active" id="activity">
          <div *ngIf="not.notification_type!='follow'; else ElseBlock"  class="row schedule-item">
            <div class="col-md-10">
              <div class="speaker">
                <div class="member" data-aos="fade-up">
                    <a href="/user/{{not.other_user.username}}"><div class="pic"><img src="{{not.other_user.profile.profile_picture}}" alt=""></div></a>
                </div>
              </div>
              <a href="/user/{{not.other_user.username}}"><h4 style="font-size:18px">{{not.other_user.profile.full_name | titlecase}}<span> {{not.other_user.username}}</span></h4></a>
              <a *ngIf="not.notification_type!='request_accepted'; else ElseBlock1" href="/post-detail/{{not.post.id}}"><p>{{not.message}}</p></a>
              <ng-template #ElseBlock1>
                <p>{{not.message}}</p>
              </ng-template>
              <small style="color:#8C8D89;font-weight: bold;">{{not.timestamp | dateAgo}}</small>
            </div>
            <a (click)="deleteNotification(not.id)"  id="clear"><span  class="icofont-ui-delete"></span></a>
          </div>
          <ng-template #ElseBlock>
            <div *ngIf="not.notification_type === 'follow'" class="row schedule-item">
              <div class="col-md-10">
                <div class="speaker">
                  <div class="member" data-aos="fade-up">
                    <a href="/user/{{not.other_user.username}}"><div class="pic"><img src="{{not.other_user.profile.profile_picture}}" alt=""></div></a>
                    </div>
                </div>
                <a href="/user/{{not.other_user.username}}"><h4 style="font-size:18px">{{not.other_user.profile.full_name | titlecase}}<span> {{not.other_user.username}}</span></h4></a>
                <a><p>{{not.message}}</p></a>
                <div class="row" >
                  <div class="col-xs-10" style="margin-left:15px"></div>
                  <div class="col-sm-1" class="accept">
                    <a (click)="acceptFollowRequest(user_id,not.other_user.id,not.id)"  class="btn-get-started scrollto" >Accept</a>
                  </div>
                  <div class="col-sm-1" class="decline">
                    <a (click)="declineRequest(not.id)"  class="btn-get-started scrollto" >Decline</a>
                  </div>
                </div> 
                <small style="color:#8C8D89;font-weight: bold;margin-left:145px">{{not.timestamp | dateAgo}}</small>
                  
              </div>  
            </div>
          </ng-template>
          
        </div>
      </div>
      

    </div>

  </section><!-- End Schedule Section -->
