<!-- ======= Schedule Section ======= -->
<br>
<section id="schedule" class="section-with-bg">
    <div class="container wow fadeInUp">
      <div class="section-header">
        <a href="/dashboard"><span id="back" class="icofont-circled-left"> Home</span></a>
        <h3 align="center" style="margin-top:10px;margin-bottom:20px">Notification</h3>
      </div>

      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#activity" role="tab" data-toggle="tab">Activity</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#request" role="tab" data-toggle="tab">Request</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#chat" role="tab" data-toggle="tab">Chat</a>
        </li>
      </ul>

      <hr>

      <div class="tab-content row justify-content-center">

        <!-- Schdule Day 1 -->
        <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="activity">

          <div class="row schedule-item">
            <div class="col-md-10">
              <div class="speaker">
                <div class="member" data-aos="fade-up">
                    <div class="pic"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""></div>
                  </div>
              </div>
              <h4>Aman Sharma<span> aman_s200222</span></h4>
              <a><p>aman_s200222 has liked your post</p></a>
              <small style="color:#8C8D89;font-weight: bold;">2 days ago</small>
            </div>
            <a id="clear"><span  class="icofont-ui-delete"></span></a>
          </div>

          <div class="row schedule-item">
            <div class="col-md-10">
              <div class="speaker">
                <div class="member" data-aos="fade-up">
                    <div class="pic"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt=""></div>
                  </div>
              </div>
              <h4>Aman Sharma<span> aman_s200222</span></h4>
              <a><p>aman_s200222 has liked your post</p></a>
              <small style="color:#8C8D89;font-weight: bold;">2 days ago</small>
            </div>
            <a id="clear"><span  class="icofont-ui-delete"></span></a>
          </div>

          <div class="row schedule-item">
            <div class="col-md-10">
              <div class="speaker">
                <div class="member" data-aos="fade-up">
                    <div class="pic"><img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt=""></div>
                  </div>
              </div>
              <h4>Aman Sharma<span> aman_s200222</span></h4>
              <a><p>aman_s200222 has liked your post</p></a>
              <small style="color:#8C8D89;font-weight: bold;">2 days ago</small>
            </div>
            <a id="clear"><span  class="icofont-ui-delete"></span></a>
          </div>

          <div class="row schedule-item">
            <div class="col-md-10">
              <div class="speaker">
                <div class="member" data-aos="fade-up">
                    <div class="pic"><img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt=""></div>
                  </div>
              </div>
              <h4>Aman Sharma<span> aman_s200222</span></h4>
              <a><p>aman_s200222 has liked your post</p></a>
              <small style="color:#8C8D89;font-weight: bold;">2 days ago</small>
            </div>
            <a id="clear"><span  class="icofont-ui-delete"></span></a>
          </div>

        </div>
        <!-- End Schdule Day 1 -->

        <!-- Schdule Day 2 -->
        <div role="tabpanel" class="col-lg-9  tab-pane fade" id="request">

            <div class="row schedule-item">
                <div class="col-md-10">
                  <div class="speaker">
                    <div class="member" data-aos="fade-up">
                        <div class="pic"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt=""></div>
                      </div>
                  </div>
                  <h4>Aman Sharma<span> aman_s200222</span></h4>
                  <a><p>aman_s200222 has requested to follow you</p></a>
                  <div class="row" >
                    <div class="col-xs-10" style="margin-left:15px"></div>
                    <div class="col-sm-1" class="accept">
                      <a  class="btn-get-started scrollto" >Accept</a>
                    </div>
                    <div class="col-sm-1" class="decline">
                      <a  class="btn-get-started scrollto" >Decline</a>
                    </div>
                  </div> 
                  <small style="color:#8C8D89;font-weight: bold;margin-left:145px">2 days ago</small>
                    
                </div>  
            </div>

            <div class="row schedule-item">
                <div class="col-md-10">
                  <div class="speaker">
                    <div class="member" data-aos="fade-up">
                        <div class="pic"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt=""></div>
                      </div>
                  </div>
                  <h4>Aman Sharma<span> aman_s200222</span></h4>
                  <a><p>aman_s200222 has requested to follow you</p></a>
                  <div class="row">
                    <div class="col-xs-10" style="margin-left:15px"></div>
                    <div class="col-sm-1" class="accept">
                      <a  class="btn-get-started scrollto" >Accept</a>
                    </div>
                    <div class="col-sm-1" class="decline">
                      <a  class="btn-get-started scrollto" >Decline</a>
                    </div>
                  </div> 
                  <small style="color:#8C8D89;font-weight: bold;margin-left:145px">2 days ago</small>
                    
                </div>  
            </div>
              

        </div>
        <!-- End Schdule Day 2 -->

        <!-- Schdule Day 3 -->
        <div role="tabpanel" class="col-lg-9  tab-pane fade" id="chat">

            <div class="row schedule-item">
                <div class="col-md-10">
                  <div class="speaker">
                    <div class="member" data-aos="fade-up">
                        <div class="pic"><img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt=""></div>
                      </div>
                  </div>
                  <h4>Aman Sharma<span> aman_s200222</span></h4>
                  <a><p>aman_s200222 has liked your post</p></a>
                  <small style="color:#8C8D89;font-weight: bold;">2 days ago</small>
                </div>
                <a id="clear"><span  class="icofont-ui-delete"></span></a>
              </div>

              <div class="row schedule-item">
                <div class="col-md-10">
                  <div class="speaker">
                    <div class="member" data-aos="fade-up">
                        <div class="pic"><img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt=""></div>
                      </div>
                  </div>
                  <h4>Aman Sharma<span> aman_s200222</span></h4>
                  <a><p>aman_s200222 has liked your post</p></a>
                  <small style="color:#8C8D89;font-weight: bold;">2 days ago</small>
                </div>
                <a id="clear"><span  class="icofont-ui-delete"></span></a>
              </div>

        </div>
        <!-- End Schdule Day 3 -->

      </div>
      <a  class="btn-get-started scrollto" ><span  class="icofont-ui-delete"></span> Clear All</a>

    </div>

  </section><!-- End Schedule Section -->
